/* Hero Screen (100% Breite und Höhe) mit einem flächenfüllenden Hintergrundbild
Layout: 3 Spalten - mittlere für den Inhalt, genaue Größe durch Ausprobieren ermitteln... 33% ? */
.hero {
  width: 100vw;
  height: 100vh;
  background-image: url(watercolor-flowers.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 30.9% 38.2% 30.9%;
  grid-template-areas: ". content .";
  justify-content: center;
  align-content: center;
}
.content-box {
  grid-area: content;
}
.headline {
  margin: 0;
  padding: 0.67rem 1.33rem;
  font-family: "Dancing Script", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  text-align: center;
  background-color: #9c27b0;
  border-width: 0 0.25rem 0.25rem 0;
  border-color: #000;
  border-style: solid;
}
.inhalt {
  background-color: rgba(255, 255, 255, 100%);
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  padding: 2rem;
  margin: 0.5rem 0 0 0;
  border-width: 0 0.25rem 0.25rem 0;
  border-color: #9c27b0;
  border-style: solid;
}
p {
  margin: 0;
}
.name {
  text-align: right;
  margin-top: 0.67rem;
}
.button {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: hsl(291, 64%, 42%);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  border-width: 0 0.25rem 0.25rem 0;
  border-color: #000;
  border-style: solid;
}
.button:hover {
  background-color: hsl(291, 64%, 57%);
}
.button a:link {
  color: #fff;
  text-decoration: none;
}
.button a:visited {
  color: #fff;
  text-decoration: none;
}
